# Exercise 1

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

In [25]:
import pandas as pd
import numpy as np

### Step 3. Use the tsv file and assign it to a dataframe called food

In [26]:


food  = pd.read_csv('en.openfoodfacts.org.products.tsv.zip', sep='\t')

/var/folders/sz/b50958sd0svgwh9b5nwg1d700000gn/T/ipykernel_26649/1381395504.py:1: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food  = pd.read_csv('en.openfoodfacts.org.products.tsv.zip', sep='\t')

### Step 4. See the first 5 entries

In [29]:
food.head()

### Step 5. What is the number of observations in the dataset?

In [30]:
food.shape

(356027, 163)

In [31]:
food.shape[0]

356027

### Step 6. What is the number of columns in the dataset?

In [32]:
print(food.shape)
print(food.shape[1])

food.info()

(356027, 163)
163
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356027 entries, 0 to 356026
Columns: 163 entries, code to water-hardness_100g
dtypes: float64(107), object(56)
memory usage: 442.8+ MB

### Step 7. Print the name of all the columns.

In [33]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Step 8. What is the name of 105th column?

In [34]:
food.columns[104]

'-glucose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [35]:
food['-glucose_100g'].dtype

dtype('float64')

### Step 10. How is the dataset indexed?

In [36]:
food.index

RangeIndex(start=0, stop=356027, step=1)

In [23]:
pd.set_option('display.max_colwidth', 300)

In [19]:
food[['code','url']]

### Step 11. What is the product name of the 19th observation?

In [37]:
food.at[18, 'product_name']

'Lotus Organic Brown Jasmine Rice'