# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet. Special
thanks to: https://github.com/justmarkham for sharing the dataset and
materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
data = pd.read_csv(url, sep='\t')
print(data.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
print(chipo.head())

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

### Step 4. See the first 10 entries

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
num_observations = chipo.shape[0]
print(f"The number of observations in the dataset is: {num_observations}")

The number of observations in the dataset is: 4622

### Step 6. What is the number of columns in the dataset?

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
num_columns = chipo.shape[1]
print(f"The number of columns in the dataset is: {num_columns}")

The number of columns in the dataset is: 5

### Step 7. Print the name of all the columns.

In [7]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
print("Column names:", chipo.columns.tolist())

Column names: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [8]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
print("Dataset Index:", chipo.index)

Dataset Index: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
most_ordered_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
print(f"The most-ordered item is: {most_ordered_item}")

The most-ordered item is: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
item_order_counts = chipo.groupby('item_name')['quantity'].sum()
most_ordered_item = item_order_counts.idxmax()
total_quantity = item_order_counts.max()
print(f"The most-ordered item is: {most_ordered_item}")
print(f"Total quantity ordered: {total_quantity}")

The most-ordered item is: Chicken Bowl
Total quantity ordered: 761

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

choice_description_counts = chipo.groupby('choice_description')['quantity'].sum()

most_ordered_choice_description = choice_description_counts.idxmax()
total_quantity_choice_description = choice_description_counts.max()

print(f"The most-ordered choice description is: {most_ordered_choice_description}")
print(f"Total quantity ordered: {total_quantity_choice_description}")

The most-ordered choice description is: [Diet Coke]
Total quantity ordered: 159

### Step 12. How many items were orderd in total?

In [12]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

total_items_ordered = chipo['quantity'].sum()

print(f"Total number of items ordered: {total_items_ordered}")

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

In [13]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

print(chipo.head())

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
/var/folders/sz/b50958sd0svgwh9b5nwg1d700000gn/T/ipykernel_28048/237049889.py:5: SyntaxWarning: invalid escape sequence '\$'
  chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

#### Step 13.a. Check the item price type

In [14]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

print(f"The data type of 'item_price' is: {chipo['item_price'].dtype}")

<>:5: SyntaxWarning: invalid escape sequence '\$'
<>:5: SyntaxWarning: invalid escape sequence '\$'
/var/folders/sz/b50958sd0svgwh9b5nwg1d700000gn/T/ipykernel_28048/1092511423.py:5: SyntaxWarning: invalid escape sequence '\$'
  chipo['item_price'] = chipo['item_price'].replace({'\$': ''}, regex=True).astype(float)

The data type of 'item_price' is: float64

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

print(f"The data type of 'item_price' is: {chipo['item_price'].dtype}")

The data type of 'item_price' is: float64

#### Step 13.c. Check the item price type

In [16]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

print(f"The data type of 'item_price' is: {chipo['item_price'].dtype}")

The data type of 'item_price' is: float64

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))

chipo['revenue'] = chipo['item_price'] * chipo['quantity']

total_revenue = chipo['revenue'].sum()

print(f"Total revenue for the period: ${total_revenue:.2f}")

Total revenue for the period: $39237.02

### Step 15. How many orders were made in the period?

In [18]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
num_orders = chipo.shape[0]
print(f"Total number of orders in the period: {num_orders}")

Total number of orders in the period: 4622

### Step 16. What is the average revenue amount per order?

In [19]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$', '')))
chipo['revenue'] = chipo['item_price'] * chipo['quantity']
total_revenue = chipo['revenue'].sum()
num_orders = chipo.shape[0]
average_revenue_per_order = total_revenue / num_orders
print(f"Average revenue per order: ${average_revenue_per_order:.2f}")

Average revenue per order: $8.49

### Step 17. How many different items are sold?

In [20]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
num_different_items = chipo['item_name'].nunique()
print(f"Number of different items sold: {num_different_items}")

Number of different items sold: 50